{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        let backgroundcolor = []
        let bordercolor = []
        let labels = []
        {% if display == 'raw' %} let rawData = [{% for footfall in footfalls %}'{{footfall.footsteps|safe}}',{% endfor %}];{% endif %}
        {% if display == 'normalize' %} let rawData = [{% for footstep in footsteps %}'{{footstep}}',{% endfor %}];{% endif %}
        rawData.forEach( footfall => {
            if(footfall < {{mean}}){
                backgroundcolor.push('rgba(255, 99, 132, 0.2)')
                bordercolor.push('rgba(255, 99, 132, 1)')
            } else {
                backgroundcolor.push('rgba(41, 241, 195, 0.2)')
                bordercolor.push('rgba(41, 241, 195, 1)')
            }
        });
        $(document).ready( function(){
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: '{{chart}}',
                data: {
                    {% if display == 'raw' %}
                    labels: [{% for footfall in footfalls %}'{{footfall.time|date:"M d"}}',{% endfor %}],
                    {% elif display == 'normalize' %}
                    labels: [{% for day in dates %}'{{day|date:"M d"}}',{% endfor %}],
                    {% endif %}
                    datasets: [{
                        label: '# of Footfalls',
                        {% if display == 'raw' %}
                        data: [{% for footfall in footfalls %}'{{footfall.footsteps}}',{% endfor %}],
                        {% elif display == 'normalize' %}
                        data: [{% for footstep in footsteps %}'{{footstep}}',{% endfor %}],
                        {% endif %}
                        backgroundColor: backgroundcolor,
                        borderColor: bordercolor,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <div class="row">
        {% for message in messages %}
          <div id='alert-dashboard' class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" style="{text-align:center;}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        <form class="col-md-2" action="" method="POST">
            {% csrf_token %}
            {{search_form|crispy}}
            <button type="submit" class="btn btn-primary mt-3">Search</button>
        </form>
        <canvas id="myChart" class="col-md-6" width="400" height="100%"></canvas>
    </div>
</div>
{% endblock content %}